.footer {
    @extend .header;
    
    &__contenedor {
        max-width: 1200px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__marca {
        height: 150px;
        width: 200px;
    }

    &__marcaImg {
        height: 100%;
    }

    &__creditos {
        display: flex;
        margin-top:10px;
        gap: 2rem;
    }

    &__lista {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    &__listaItems {
        font-size: 50px;
        color: $mivariable2;
        transition: all 0.5s;
    }

    &__listaItems:hover {
        color:#a2174d;
        font-size: 55px;
    }
}
