.header {
    background-color: $mivariable1;
    background: linear-gradient(to right, rgb(255, 164, 184), #ffced4);
    color: $mivariable2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.507);
    
    &__contenedor {
        max-width: 1150px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__marca {
        height: 100px;
        padding: 1rem;
    }

    &__marcaImg {
        height: 100%;
    }
}

.nav__enlace {
    text-decoration: none;
    color: $mivariable2;
    font-weight: bold;
    margin: 50px;
    transition: all 0.5s;
    transform: scale(2,1);

    &:hover {
        font-size: 1em;
        background-color: $mivariable2;
        color: $mivariable1;
        padding: 10px;
        border-radius: 10px;
    }

    &--sidebar {
        display: none;
    }

}
